<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <iframe width="100%" src='http://player.youku.com/embed/XMTY5NzcxMTMwOA==' frameborder=0 'allowfullscreen'>
    </iframe>
</section>
<section>
    <h3>精彩推荐</h3>

    <span width="100%"><img src="http://r1.ykimg.com/0542040857A1372F6A0A4104668D5D75"/><img src="http://r1.ykimg.com/0542040857A1372F6A0A4104668D5D75"/></span>
    <br>
    <span width="100%"><img src="http://r1.ykimg.com/0542040857A1372F6A0A4104668D5D75"/><img src="http://r1.ykimg.com/0542040857A1372F6A0A4104668D5D75"/></span>
</section>
</body>
</html>